---
layout: layouts/base.njk
templateClass: tmpl-home
---

{# The About page uses this template and you can customize / use it for any new pages you add #}

<div class="wrapper home">
  <div class="abtpage">
    {{ content | safe }}
  </div>
   <div class="controls">
    
        <a style="width: 30vw;display:flex;justify-content: center;" class="next" href="/"><img class="logobig" src="https://cdn.glitch.me/2decb767-8051-4237-974a-927409aa4233/stars1040invert.png?v=1735942380941"></a>
     
    </div>
</div>
